:root {
   --main-green: #00FF99;
   --dgrey: #272D2D;
   --main-purp: rgba(168, 70, 160, 0.8);
   --lgrey: #50514F;
}

html, body {
   font-family: 'Rubik', sans-serif;
   min-height: 100% !important;
   height: 100%;
}

hr { 
   border-width: 0.5px; 
}

.line-break {
   color: #50514f;
   padding: 0;
   margin: 0;
   border-width: 3px;
}

.title {
   height: 100%;
   position: relative;
}


.name-title {
   text-align: center;
   margin: 0;
   position: absolute;
   top: 30%;
   left: 50%;
   margin-right: -50%;
   transform: translateX(-50%) rotate(-10deg);
   font-family: 'Fjalla One', sans-serif;
}

.name-title:before { 
   content: "";
   position: absolute;
   top: 0;
   left: -135px;
   width: 100px;
   height: 100%;
   background: rgba(255, 255, 255, 0.23);
   transform: skewX(-30deg);
   transition: 0.5s;
   z-index: 1;
}

.name-title:hover:before {
   left: 105%;
}

.name-title h1 {
   color: #000000;
   text-shadow: 0px 1px 0px var(--main-green), 1px 2px 0px var(--main-green), 2px 3px 0px var(--main-green), 3px 4px 0px var(--main-green), 4px 5px 0px var(--main-green), 5px 6px 0px var(--main-green), 6px 7px 0px var(--main-green);
   transform: skew(-10deg);
   font-size: 80px;
   font-style: normal;
   font-weight: normal;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
.name-title h1:hover {
   cursor: pointer;
}

.name-title span {
   display: none;
}

.name-title:hover span {
   display: block;
   text-decoration: none;
   position: fixed;
   overflow: hidden;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   text-shadow: 0px 1px 0px var(--main-green), 1px 2px 0px var(--main-green);
}

.name-title p {
   font-size: 20px;
   transform: skew(-10deg);
}

#say-my-name {
   background: var(--lgrey);
   margin: 0;
   width: 400px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   display: none;
}
/* navbar */
.navbar { 
   position: fixed;
   width: 100%;
   z-index: 1;
}

.goto-top {
   float: left;
   display: inline-block;
   line-height: 15px;
   padding-left: 20px;
   padding-top: 20px;
}

.goto-top p {
   border-left: 2px solid black;
   padding: 4px;
   cursor: pointer;
   transform: translateX(-50%) rotate(-10deg);
   transform: skew(-10deg);
   font-family: 'Fjalla One', sans-serif;
}

/* icons and footer */
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;   
   padding-bottom: 20px;
}

.footer a {
   padding: 10px ;
   float: right;
   color: black;
}

.footer a:hover {
   color: grey; 
}

/* icons */
.icons {
   padding-right: 40px;
}

/* menu icon and animation */
.toc-holder { 
   display: inline-block;
   cursor: pointer;
   float: right;
   padding-right: 20px;
   padding-top: 20px;
}

.bar1, .bar2, .bar3 {
   width: 35px;
   height: 5px;
   background-color: #333;
   margin: 6px 0;
   transition: 0.4s;
}
/*
div:hover .bar1, 
div:hover .bar2,
div:hover .bar3 {
   background-color: grey;
}
*/
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*
 * dropdown menu
 */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 160px;
   z-index: 1;
   right: 0;
}

.dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   background: #272d2d;
}

.dropdown-content a:hover {
   background-color: #272d2d;
   border-left: 4px solid var(--main-green);
}

.show {display: block;}


/* Copyright 2017 Ian Lunn Design Limited 
 * BEGIN
 * hvr-hob 
 */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* END
 * hvr-bob 
 */

.sub-head {
   font-family: 'Fjalla One', sans-serif;
   font-weight: bold;
   transform: skew(-10deg);
   font-size: 20px;
   text-shadow: 0px 1px 0px var(--main-green), 1px 2px 0px var(--main-green), 2px 3px 0px var(--main-green), 3px 4px 0px var(--main-green);
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

/* About */
#aboutme {
   font-size: 50px;
   font-family: 'Rubik', sans-serif;
   font-weight: bold;
   line-height: 57px;
   padding: 20px;
}

/* Eduction */
.edu .container  {
   padding-top: 50px;
   padding-bottom: 50px;
}

.edu p { 
   padding-top: 30px;
   text-align: center;
}

#wsu_logo, #billyblue {
   border-radius: 50% ;
   width: 90px;
   height: 90px;
   background-size: cover;
}

.edu_logo {
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.edu_logo p {
   color: #a4b8c4;
}

.color-overlay {
   position: relative;
}

.color-overlay:before {
   content: " ";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transition: all .2s linear;
}

.color-overlay:hover:before { 
   background: none;
 }

.o1:before {
   border-radius: 50% ;
   /* background-color:  rgba(179, 102, 255, 0.7); */
   background-color: var(--main-purp); 
}

.o2:before {
   background-color: rgba(0, 0, 255, 0.5);
 }

#wsu_logo {
   background-image: url("/static/images/WSU_logo.png");
}

#billyblue {
   background-image: url("/static/images/billyblue_logo.jpg");
}

#btnCv {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 5px;
}

#download {
   /*
   border: 1px solid var(--main-green);
   */
   font-weight: bold;
   color: var(--lgrey); 
   line-height: 1;
   display: inline-block;
   padding: 14px 16px;
   text-decoration: none;
   transition: all .2s linear;
   box-shadow: -5px 5px var(--lgrey);
   background: var(--main-green);
}

#download:hover {
   background: var(--main-green);
   transform: translateY(3px);
}

#download:active { 
   box-shadow: -2px 3px var(--lgrey);
   transform: translateY(4px);
   transition: none;
  }
/* Contact */
.contact {
   text-align: center;
}

.contact h1 {
   font-size: 50px;
}

.contact button  {
   border: none;
   font-size: 70px;
   font-weight: bold;
   color: black;
   padding-top: 30px;
}

#myEmail {
   opacity: 0;
}

.toolTipLink { 
   text-decoration: none;
   position: relative;
}

.toolTipLink span {
   display: none;
}

.toolTipLink:hover span {
   display: block;
   position: fixed;
   overflow: hidden;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   text-shadow: 0px 1px 0px var(--main-green), 1px 2px 0px var(--main-green);
}
/* Mobile first queries */

/* Larger than mobile */

@media (max-width: 400px) {
   
   #btnCopy {
      font-size: 40px;
   }
   #contact-icons {
      font-size: 30px;
   }
   
}
@media (min-width: 400px) {
   #btnCopy {
      font-size: 40px;
   }
   #contact-icons {
      font-size: 30px;
   }
   
}

/* Larger than phablet */
@media (min-width: 550px) {
   #btnCopy {
      font-size: 50px;
   }
   
   #contact-icons {
      font-size: 50px;
   }
}
/* Larger than tablet */
@media (min-width: 750px) {
}

#contact-icons {
   padding: 50px;
}

.footer-icons {
   padding: 0px 15px 0px 15px;
}

