{% extends "layout.html" %}

{% block content %}
<!-- Title page -->
<div class="title">
   <div class="name-title">
      <h1><b>UXMAL CUELLAR</b></h1>
      <p>COMPUTER SCIENTIST GRADUATE</p>
   </div>
</div>
<!-- About -->
<div class="about">
   <p id="about" class="sub-head">ABOUT ME</p>
   <div class="container" >
      <div class="row" id=about-text>
	 <div class="one column">
	 </div>
	 <div class="eleven columns">
	    <p style="background-color: #00ff99;"  id="aboutme"><i>I am a developer and I enjoy creating. I am interested and have worked with python, machine learning and building applications using frameworks like Electron.</i></p>
	 </div>
      </div>
   </div>
</div>
<!-- Education -->
<div class="edu">
   <!-- <p id="education" class="sub-head">EDUCATION</p> -->
   <div class="container">
      <div class="row">
	 <!-- Resume : Edu: WSU BSCompSci -->
	 <div class="one-half column">
	    <div class="edu_logo color-overlay o1" id="wsu_logo"></div>
	    <p>
	       Western Sydney University<br>
	       <b>Bachelor of Computer Science</b><br>
	       <i>2015 - 2018</i>
	    </p>
	 </div>
	 <!-- Resume : Edu : Billy Blue Visual Design -->
	 <div class="one-half column">
	    <div class="edu_logo color-overlay o1" id="billyblue"></div>
	    <p>
	       Billy Blue College Of Design<br>
	       <b>Bachelor of Visual Design</b><br>
	       <i>2011</i><br>
	    </p>
	 </div>
      </div>
      <div id="btnCv">
	 <a id="download" href="/static/images/gripperbot.png" target="_blank">Resume</a>
      </div>
   </div>	
</div>

<!-- Projects -->
<p id="projects" class="sub-head">PROJECTS</p>
<div class="container"  >
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
</div>
<div class="container" style="height: 50%;">
   <div class="contact">
      <div class="sub-head">
	 <h1><b>DO YOU WANT TO KNOW MORE?</b></h1>
      </div>
      <button onclick="copyEmail()" onmouseout="mouseOut()" id="copy-email" value="uxmal.c@gmail.com">
	 <span id="emailToolTip" class="toolTipText">CLICK TO COPY</span>UXMAL.C@GMAIL.COM</button>
      
   </div>
</div>
		  
{% endblock content %}
