{% extends "layout.html" %}

{% block content %}

<div class="title">
   <div class="center">
      <h1>UXMAL<b>CUELLAR</b></h1>
      <p>Computer scientist graduate</p>
   </div>
</div>
<!-- Nav -->
<div id="about">
   <p>I am a developer with a mix of compentencies in python and machine learning flask and more.</p>
</div>
<div id="education">
   <p class="heading">Education</p>
   <!-- Resume : Edu: Western Sydney Uni BSCompSci -->
   <p>
      <a herf="https://www.westernsydney.edu.au/" target="_blank"><img class="icon" src="/static/images/WSU_logo.png" width="70"></a> 
      <b>Western Sydney University</b>
      <span class="right-txt"><i>Kingswood</i></span>
      <b>Bachelor of Computer Science</b>
      <span class="right-txt"><i>2015 - 2018</i></span>
   </p>
   <!-- Resume : Edu : Billy Blue cert III -->
   <p>
      <a herf="https://www.billyblue.edu.au/" target="_blank"><img class="icon" src="/static/images/billyblue_logo.jpg" width="70"></a> 
      <b>Billy Blue College Of Design</b>
      <span class="right-txt"><i>North Sydney</i></span>
      <b>Design Fundamentals Certificate III</b>
      <span class="right-txt"><i>2011</i></span>
   </p>
   <!-- Resume : Edu : Billy Blue Communication Design -->
   <p>
      <a herf="https://www.billyblue.edu.au/" target="_blank"><img class="icon" src="/static/images/billyblue_logo.jpg" width="70"></a> 
      <b>Billy Blue College Of Design</b>
      <span class="right-txt"><i>North Sydney</i></span>
      <b>Bachelor of Communication Design</b>
      <span class="right-txt"><i>2011</i></span>
   </p>
</div>	 

<div id="projects" >
   <!-- Projects -->
   <p  class="heading">Projects</p>
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
   <div class="row">
      <div class="six columns">
	 <img src="/static/images/gripperbot.png" alt="Phantom X pincher arm" width="200"/>
      </div>
      <div class="six columns">
	 <p>A variation of the Hanoi tower puzzle using State-of-the-art Artificial Intelligence and a robotic arm. Worked on the front-end and back-end of the project.</p> 
      </div>
   </div>
</div>
		  
{% endblock content %}
