<!DOCTYPE html>
<html>
   <head>
      {% if title %}
         <title>Uxmal Cuellar | {{ title }}</title>
      {% else %}
         <title>Uxmal Cuellar | Home</title>
      {% endif %}
      <meta charset="UTF-8">
      <meta name="description" content="Personal Website">
      <meta name="keywords" content="Uxmal Cuellar">
      <meta name="author" content="Uxmal Cuellar">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- FONT
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

      <!-- CSS
	      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="/static/normalize.css">
      <link rel="stylesheet" href="/static/skeleton.css">

      <!-- Favicon
	   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="/static/images/favicon.png">
   </head>
   <body>
      <div id="toc-holder" class="toc-holder">
	 <a href="#" class="toc-link" id="toc-link"><span>&#9776;</span></a>
	 <ul id="toc" class="toc">
	    <li class="toc-h1"><a href="#about">About</a></li>
	    <li class="toc-h1"><a href="#projects">Projects</a></li>
	    <li class="toc-h1"><a href="#digitclass">Digit Classifier</a></li>
	 </ul>
      </div>
      {% block content %} {% endblock %}
   </body>
</html>
